*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
.sec-1{
    width: 400px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(212, 211, 211);
    text-align: center;
    padding: 20px 10px;
   margin: 250px 35%;
}
.sec-1 h1{
    margin-bottom: 10px;
}
.sec-1 input{
    width: 290px;
    height: 30px;
    border-radius: 5px;
}
#box{
    display: flex;
    margin-left: 55px;
    margin-top: 20px;
}
#b1{
    width:94px;
    height: 8px;
    background-color: gray;
    border-radius: 5px;
    display: none;
}
#b2{
    width:94px;
    height: 8px;
    background-color: gray;
    border-radius: 5px;
    margin-left: 3px;
    display: none;
}
#b3{
    width:94px;
    height: 8px;
    background-color: gray;
    border-radius: 5px;
    margin-left: 3px;
    display: none;
}
#text{
    color: black;
    display: none;
}
#pass:hover{
    border-color: rgb(64, 225, 64);
}